<div class="bg-image" style="
	background-image:url(@bgImage);
	background-size:50%;
	background-position: right;
	background-repeat:no-repeat;
	width: 150px;
	height:150px;"
	 @onclick=ToggleShiny>

	<p>Name: @PokemonData?.PokemonData.Name</p>
	<p>Id: @PokemonData?.PokemonData.Id</p>
	<p>Shiny: @(PokemonData.IsShiny ? "Yes" : "No")</p>
	<button @onclick="DeletePokemon">Delete</button>
</div>

@code {
	[Parameter]
	public PokemonCollection.PokemonInfo? PokemonData { get; set; }
	[Parameter]
	public EventCallback OnDelete { get; set; }
	[Parameter]
	public EventCallback SortByShiny { get; set; }

	public string bgImage = "";

	public async Task DeletePokemon()
	{
		await OnDelete.InvokeAsync();
	}

	public void ToggleShiny()
	{
		PokemonData.IsShiny = !PokemonData.IsShiny;
		SortByShiny.InvokeAsync();
	}

	protected override void OnParametersSet()
	{
		bgImage = PokemonData.IsShiny ? PokemonData.PokemonData.Sprites.FrontShiny : PokemonData.PokemonData.Sprites.FrontDefault;
	}
}
